#listItem{
    border: 1px solid grey;
    border-radius: 5px 5px;
}

.info-display-window{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 90%;
    margin-top: 130px;
    padding: 5px;
}
