.panel {
    position: fixed;
    margin-top: 20vh;
    height: auto;
    width: 10vw;
    padding: 20px;
    overflow: hidden;
    background-color: rgba(252,246,232, 0.4);
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    float: right;
}