.tab {
    position: fixed;
    margin-top: 20vh;
    height: 6vh;
    width: 3vw;
    overflow: hidden;
    background-color: grey;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    float: right;
}