<div class="background-form">
  <div class="main-form">
    <form name="main-form" *ngIf="!upload; else uploadComponent">
      <div>
        <p>species: </p>
        <select [(ngModel)]="spec" name="spec">
          <option *ngFor="let species of listed" value="{{this.mapped[species]}}">{{species}}</option>
        </select>
      </div>
      <div>
        <p>Input type: </p>
        <select [(ngModel)]="type" name="type">
            <option *ngFor="let item of input_type" value="{{item}}">{{item}}</option>
        </select>
      </div>
      <textarea name="file" class='text-area-size' [(ngModel)]="file"></textarea>
      <br>
      <span>
        <button (click)="uploadForm()">upload</button>
        <button (click)="readForm()">submit</button>
      </span>
    </form>
    <ng-template #uploadComponent>
      <div>
        <app-crapome-upload></app-crapome-upload>
      </div>
    </ng-template>
  </div>
</div>