body {
    margin: 0;
    padding: 0;
}

.main-title {
    display: inline;
}

#main-title {
    vertical-align: top;
    line-height: 1.7;
}

.title {
    margin-top: 0px;
    width:100%;
    position:fixed;
    z-index:10;
    background:inherit;
    position: fixed;
    background-color: white; 
    height: 60px;
    opacity: 1;
}