h3 {
    margin-top: 0;
    margin-bottom: 40px;
}

input {
    width: 30%;
    height: 18px;
    border-radius: 5px 5px 5px 5px;
}

select {
    margin-left: 2%;
    vertical-align: top;
    width: 20%;
}

.background-form {
    margin: 0 auto;
    width: 80%;
    margin-top: 2%;
    background-color: grey;
    padding: 5px;
    border-radius: 5px 5px 5px 5px;
}

.main-form {
    background-color: #fcf6e8;
    padding: 35px;
    border-radius: 5px 5px 5px 5px;
    padding-bottom: 80px;
}
.text-area-size {
    resize: none;
    height: 150px;
    width: 60%;
    border-radius: 5px 5px 5px 5px;
}

#advanced{
    cursor: pointer;
}

#checkbox {
    width: 25px;
    text-align: middle;
    vertical-align: middle;
    margin-left: 10px;
}

#query {
    float:right;
    width: 200px;
    font-size: 18px;
    height:30px;
}