<div class="background-form">
  <div class="main-form">
    <h3>Query Form!</h3>
    <form class="form-text" id="query-form-id">
      <p>Unique IDs :</p>
      <input type="text" name="id" placeholder="1; ZINC00012345;" [(ngModel)]="ids">
      <p>Names :</p>
      <input type="text" name="name" placeholder="aspirin; AsPiRin;" [(ngModel)]="names">
      <p>Classifications :</p>
      <label *ngFor="let classname of classifications;">
        <input id="checkbox" name="classes" (click)="buttonSelect($event, classname)" type="checkbox">
        {{classname}}
      </label>
      <p>Databases :</p>
      <label *ngFor="let dbname of databases;">
        <input id="checkbox" name="db" (click)="buttonSelect($event, dbname)" type="checkbox">
        {{dbname}}
      </label>
      <br>
      <br>
      <p id="advanced" (click)="showAdv()">Advanced  &#9660;</p>
      <div *ngIf="adv">
        <label for="recursive">
          <input id="checkbox" name="advRecursive" type="checkbox" [(ngModel)]="recursive">
          !!Search Recursively
        </label>
        <label>
          <input id="checkbox" name="advPseudo" type="checkbox" [(ngModel)]="usePseudonym">
          !Pseudonym
        </label>
        <label for="exact">
          <input id="checkbox" name="advExact" type="checkbox" [(ngModel)]="exact">
          !Exact Match
        </label>
      </div>
      <a routerLink="/information" routerLinkActive="active">
        <input type="button" id="query" name="submit" value="query" (click)="formEmitter()">
      </a>
    </form>
  </div>
</div>