
p {
  overflow: hidden;
}
span {
  overflow: hidden;
}
table {
    display: table-cell;
    width: 100%;
    margin: 20px auto;
    table-layout: auto;
}
  
  table,
  td,
  th {
    width: 100%;
    display: table-cell;
    white-space: nowrap;
    border-collapse: collapse;
  }

  td,
  th {
    
      text-align: center;
      margin-left: 20px;
      padding: 5px;
      border: solid 1px black;
  }

  .center {
    margin-left: 86vw;
    white-space: nowrap;
    overflow: hidden;
  }

  .heavy {
    font-weight: bolder;
    font-size: 30px;
  }
  
  .red {
    color: red;
  }

  .set-table-column{
    width: 700px;
  }

  .refseq {
    width: 400px;
  }

  .ge {
    width: 100px;
  }