
table {
    width: 100%;
    margin: 20px auto;
    table-layout: fixed;
}
  
  table,
  td,
  th {
    border-collapse: collapse;
  }

  td,
  th {
      text-align: center;
      border: solid 1px black;
  }